###> symfony/framework-bundle ###
Symfony/.env.local
Symfony/.env.local.php
Symfony/.env.*.local
Symfony/config/secrets/prod/prod.decrypt.private.php
Symfony/public/bundles/
Symfony/var/
Symfony/vendor/
###< symfony/framework-bundle ###

###> Laravel ###
Laravel/node_modules
Laravel/public/hot
Laravel/public/storage
Laravel/storage/*.key
Laravel/vendor
Laravel/.env
Laravel/.env.backup
Laravel/.phpunit.result.cache
Laravel/docker-compose.override.yml
Laravel/Homestead.json
Laravel/Homestead.yaml
Laravel/npm-debug.log
Laravel/yarn-error.log
###< Laravel ###

Php/vendor
Php/env.json


###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
