<footer>
    <article>
        <h3><a href="https://github.com/jphNovitz/demo-http-client/tree/Symfony"> jphNovitz / demo-http-client sur Github
            </a></h3>
        <h3><a href="https://symfony.com/doc/current/http_client.html">Symfony http-client </a> (documentation)</h3>

    </article>
    <h5>2021 Novitz Jean-Philippe, développeur web Liège</h5>
</footer>