<header>
    <h1>Comment récupérérer ses derniers tweets avec Symfony ? </h1>
    <h2>Utilisation du composant http-client</h2>
{#    <img src=" ./images/symfony_white_02.png" alt="Symfony http client demo symfony" />#}
{#    <img src="https://symfony.com/logos/symfony_white_02.png" alt="Symfony http client demo symfony">#}
</header>