<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Comment récupérer les derniers tweets avec Symfony - http-client{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}{% endblock %}
</head>

{% include '_header.html.twig' %}
<body class="bg-black">
<div class="container bg-black">
    {% block body %}{% endblock %}
</div>

{% include '_footer.html.twig' %}
</body>
</html>
